{% extends "base.html" %}


{% block title %}
    {{ reading.name }} | Readings with Rehanon
{% endblock title %}


{% block content %}
<div class="container py-4">
    <h1>{{ reading.name }}</h1>
    <p class="lead">{{ reading.summary }}</p>
    <p>{{ reading.description|linebreaks }}</p>
    <P>
        {{ reading.duration_minutes }} minutes &middot;
        <strong>&pound;{{ reading.price }}</strong>
    </P>
    <a href="{% url 'reading_list'%}" class="btn btn-outline-secondary">Back to readings</a>
    <a href="#" class="btn btn-brand">Book this reading</a>
</div>
{% endblock content %}
    