{% extends "base.html" %}
{% load static %}


{% block title %}
    {{ reading.name }} | Readings with Rehanon
{% endblock title %}


{% block content %}
<div class="container py-4">
    <div class="row align-items-center">
        <div class="col-12 col-md-6 col-lg-5 mb-4">
                {% if reading.image %}
                    <img src="{{ reading.image.url }}" class="card-img-top" alt="Illustration for the {{ reading.name }}">
                {% else %}
                   <img src="{% static 'images/default-reading.jpg' %}" class="card-img-top" alt="Illustration for the {{ reading.name }}">
                {% endif %}
        </div>
        <div class="col-12 col-md-6 col-lg-7">
            <h1>{{ reading.name }}</h1>
            <p class="lead">{{ reading.summary }}</p>
            <div><p>{{ reading.description|linebreaks }}</p></div>
            <p>
                {{ reading.duration_minutes }} minutes &middot;
                <strong>&pound;{{ reading.price }}</strong>
            </p>
            <a href="{% url 'reading_list'%}" class="btn btn-outline-secondary">Back to readings</a>
            <a href="#" class="btn btn-brand">Book this reading</a>
            
            {% if user.is_superuser %}
                <div class="mt-3">
                    <a href="{% url 'edit_reading' reading.slug %}" class="btn btn-outline-primary">Edit</a>
                    <a href="{% url 'delete_reading' reading.slug %}" class="btn btn-outline-danger">Delete</a>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}
    